aside img {
	min-width: 40px;
	max-width: 75px;
	width: 100%;
	margin-bottom: .5em;
}

.speaker {
	padding: 1em;
}
.speaker h1 {
	color: var(--accent-color);
}
.speaker h2 {
	color: black;
}
.speaker p {
	padding: .5em 0;
}

section ul {
	clear: both;
}

footer {
	background-color: var(--accent-color);

	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

.large {
	font-size: 125%;
}
